$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;

$font-stack-dancing-script: "Dancing Script", cursive;
$font-stack-josefin-sans: "Josefin Sans", sans-serif;
$font-stack-nunito: "Nunito", sans-serif;

@mixin flexLayout {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin textStyles {
    font-weight: 300;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

@mixin centering($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

html{
    box-sizing: border-box;
    font-size: 10px;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    background-color: $color-dark;
}