@use '../abstracts/variables';
@use '../abstracts/mixins';

.product{
    position: relative;
    
    @include mixins.responsive(sm){
        padding: 5rem;
        margin-top: 5rem;
    }

    &:hover &-description{
        opacity: 1;
        visibility: visible;
    }

    &:hover &-img{
        opacity: .5;
    }

    &-img{
        width: 100%;
        transition: all 1s .3s;
    }

    &-description{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: transparentize(variables.color(secondary), .4);
        padding: 2rem;
        border: .1rem solid variables.color(primary);
        border-radius: .5rem;
        color: variables.color(primary);
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: all 1s .3s;

        @include mixins.responsive(lg){
            padding: 1rem;
        }

        @include mixins.responsive(sm){
            top: 100%;
            visibility: visible;
            opacity: 1;
        }

        &-heading{
            font-size: variables.font-size(xl);

            @include mixins.responsive(lg){
                font-size: variables.font-size(md);
            }
            @include mixins.responsive(sm){
                display: none;
            }
        }

        &-price{
            font-size: variables.font-size(lg);
            font-weight: 300;
            margin: 1rem 0;

            @include mixins.responsive(lg){
                font-size: variables.font-size(sm);
            }
            @include mixins.responsive(sm){
                display: none;
            }

            span{
                font-weight: 600;
            } 
        }

        &-btn{
            font-size: variables.font-size(xs);
            text-decoration: none;
            color: variables.color(quarternary);
            display: block;
            padding: .5rem 1rem;
            border: .1rem solid variables.color(quarternary);
            background-color: lighten(variables.color(primary), 20%);

            @include mixins.responsive(lg){
                font-size: variables.font-size(xs) - .4rem;
                padding: .4rem;
            }

            @include mixins.responsive(sm){
                width: 20rem;
                padding: 1rem;
                font-size: variables.font-size(md);
                background-color: variables.color(primary);
            }

            &:hover{
                background-color: variables.color(primary);
            }
        }
    }
}








