.icon-ellipsis{
    cursor: pointer;
    transition: transform .5s;
    padding: 0 1rem;
    margin-left: auto;

    &:hover{
        transform: scale(1.3);
    }

    .dot{
        width: .3rem;
        height: .3rem;
        background-color: white;
        border-radius: 50%;
        margin-bottom: .2rem;
    }
}