.icon-angle-left{
    padding: .5rem;
    transition: transform .5s;
    cursor: pointer;

    &:hover{
        transform: translateX(-.3rem);
    }

    .line{
        width: .7rem;
        height: .2rem;
        background-color: white;
        transform-origin: left;
    }

    .line-1{
        transform: translateY(.2rem) rotate(-60deg);
    }

    .line-2{
        transform: translateY(-.2rem) rotate(60deg);
    }
}