@use '../abstracts/variables';

html{
    box-sizing: border-box;
    font-size: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: "Josefin Sans", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
    row-gap: 1.6rem;
    background-color: variables.color(tertiary);
}