<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | Job Listings</title>

  <link rel="stylesheet" href="./css/main.css">

</head>
  <body>

    <header class="header">
    </header>

    <section class="filters-bar">
      <div class="filters-card">
        <div class="filters">
          <div>
            <span>Frontend</span>
            <button class="btn-remove">&times;</button>
          </div>
          <div>
            <span>CSS</span>
            <button class="btn-remove">&times;</button>
          </div>
          <div>
            <span>Fullstack</span>
            <button class="btn-remove">&times;</button>
          </div>
        </div>
        <button class="btn-clear">Clear</button>
      </div>
    </section>

    <section class="listings" id="app">
      <div class="job-card" v-for="job in jobs" :key="job.id" :class="{'border-featured' : job.featured}">
        <div class="job-card-img">
          <img :src="job.logo" alt="job.company">
        </div>
        <div class="job-card-content">
          <div class="company">
            <h3 class="company-name">{{job.company}}</h3>
            <p v-if="job.new" class="badge badge-new">new!</p>
            <p v-if="job.featured" class="badge badge-featured">featured</p>
          </div>
          <h2 class="job-position">{{job.position}}</h2>
          <div class="job-details">
            <span>{{job.postedAt}}</span>
            <span>{{job.contract}}</span>
            <span>{{job.location}}</span>
          </div>
        </div>
        <div class="categories">
          <span v-for="category in jobCategories(job)" :key="category">{{category}}</span>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js" type="module"></script>
  </body>
</html>