@use 'variables';
@use 'mixins';

.hamburger-menu{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 300;

    @media (max-width: 800px) {
        width: 35px;
        height: 35px;
    }

    .menu-icon{
        @extend %fullSpace;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: transform .5s;

        .icon-bar{
            width: 100%;
            height: 4px;
            background-color: variables.$color-primary;
            transform-origin: right;
            transition: all .5s .5s;

            @media (max-width: 800px) {
                height: 3px;
            }
        
        }
    }
}

.logo{
    @include mixins.flexLayout;
    font-size: 6rem;
    color: variables.$color-primary;
    width: 10rem;
    height: 10rem;
    border: .3rem solid variables.$color-primary;
    border-radius: 50%;
    margin-right: 2rem;
    text-decoration: none;

    @media (max-width: 800px) {
        font-size: 5rem;
        width: 8rem;
        height: 8rem
    }

    @media (max-width: 500px) {
        font-size: 4rem;
        width: 6rem;
        height: 6rem
    }

}

.brand-name{
    font-family: variables.$font-nunito;
    font-size: 5rem;
    color: variables.$color-secondary;
    @include mixins.textStyles;

    @media (max-width: 800px) {
        font-size: 4rem;
    }

    @media (max-width: 500px) {
        font-size: 3rem;
    }

}

.brand-subname{
    font-family: variables.$font-josefin-sans;
    font-size: 1.8rem;
    color: variables.$color-secondary;
    text-align: center;
    @include mixins.textStyles;

    @media (max-width: 800px) {
        font-size: 1.6rem;
    }

    @media (max-width: 500px) {
        font-size: 1.3rem;
    }
}

.main-heading{
    font-family: variables.$font-dancing-script;
    font-size: 10rem;
    font-weight: 300;
    color: variables.$color-primary;
    margin-bottom: 4rem;

    @media (max-width: 1400px) {
        font-size: 8rem;
    }

    @media (max-width: 1200px) {
        font-size: 7rem;
    }

    @media (max-width: 500px) {
        font-size: 5rem;
    }
}

.sub-heading{
    font-family: variables.$font-josefin-sans;
    font-size: 6rem;
    font-weight: 300;
    color: variables.$color-secondary;
    margin-bottom: 8rem;
    text-align: center;

    @media (max-width: 1400px) {
        font-size: 5rem;
        margin-bottom: 5rem;
    }

    @media (max-width: 1200px) {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    @media (max-width: 500px) {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}

.main-btn{
    width: 17rem;
    height: 4.5rem;
    font-family: variables.$font-josefin-sans;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: variables.$color-primary;
    background-color: transparent;
    border: .1rem solid variables.$color-primary;
    outline: none;
    cursor: pointer;
    transition: all .4s;

    &:hover{
        color: variables.$color-dark;
        background-color: variables.$color-primary;
    }

    @media (max-width: 700px) {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }
}

.card {
    width: 33.3333%;
    height: 30vw;
    position: relative;
    overflow: hidden;

    &:hover &-overlay{
        left: 0;
    }

    &-overlay{
        position: absolute;
        top: 0;
        left: -100%;
        @extend %fullSpace;
        background-color: rgba(variables.$color-primary, .8);
        color: variables.$color-white;
        z-index: 10;
        @include mixins.flexLayout;
        flex-direction: column;
        transition: left .7s;

        &-heading{
            font-family: variables.$font-nunito;
            font-size: 5rem;
            @include mixins.textStyles(capitalize);

            @media (max-width: 1000px) {
                font-size: 4rem;
            }

            @media (max-width: 700px) {
                font-size: 2.8rem;
            }

            @media (max-width: 500px) {
                display: none;
            }
        }

        &-price{
            font-family: variables.$font-josefin-sans;
            font-size: 3rem;
            margin-bottom: 3rem;
            @include mixins.textStyles(capitalize);

            @media (max-width: 1000px) {
                font-size: 2.4rem;
            }

            @media (max-width: 700px) {
                font-size: 1.8rem;
            }

            @media (max-width: 500px) {
                display: none;
            }
        }

        &-btn{
            width: 15rem;
            height: 4rem;
            color: variables.$color-primary;
            background-color: variables.$color-white;
            font-family: variables.$font-josefin-sans;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .1rem;
            border: 1px solid variables.$color-primary;
            border-radius: 3rem;
            outline: none;
            cursor: pointer;

            @media (max-width: 1000px) {
                width: 12rem;
                height: 3.5rem;
                font-size: 1.2rem;
            }

            @media (max-width: 700px) {
                width: 12rem;
                height: 3rem;
                font-size: 1rem;
            }
        }
    }

    &-image{
        @extend %fullSpace;
        object-fit: cover;
        opacity: .7;
    }
}














