@use './variables';

@mixin  responsive($deviceWidth) {
    @if ($deviceWidth == md) {
        @media (min-width: 860px){
            @content
        };
    };

    @if ($deviceWidth == lg) {
        @media (min-width: 1200px){
            @content
        }
    }
};

@mixin cardStyles {
    width: 100%;
    max-width: 35rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 .7rem 1.5rem 0 lighten(hsl(180, 29%, 50%), 30%);
    margin: 2.5rem;
}

@mixin categoryBadge{
    height: 2.9rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: variables.color(primary);
    background-color: variables.color(tablets);
    padding: .7rem;
}