@use './variables';

@mixin navigation {
    &-list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    &-link{
        text-decoration: none;
        color: variables.color(primary);
        font-size: variables.font-size(sm);
        transition: all .3s;

        &:hover{
            color: lighten(variables.color(primary), 40%);
        }
    }
}

@mixin flexDisplay($justCont: center, $alignItems: center) {
    display: flex;
    justify-content: $justCont;
    align-items: $alignItems;
}

@mixin footerList {
    &-heading{
        font-size: variables.font-size(lg);
        color: variables.color(primary);
    }

    &-item{
        list-style: none;
        margin: 1rem 0;
    }

    &-link{
        text-decoration: none;
        font-size: variables.font-size(xs);
        color: lighten(variables.color(primary), 15%);
        transition: color .2s;

        &:hover{
            color: lighten(variables.color(primary), 35%);
        }

        &:focus{
            text-decoration: underline;
            outline: none;
        }
    }
}